.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.5rem 3rem;
    background-color: #0f3460; /* Deep blue */
  }
  
  .logo {
    font-size: 1.8rem;
    color: white;
  }
  
  .nav-links {
    display: flex;
    gap: 2rem;
  }

  li{
    text-decoration: none;
    list-style: none;
  }
  
  .nav-links a {
    color: white;
    text-decoration: none;
    font-size: 1.2rem;
    transition: color 0.3s ease-in-out;
  }
  
  .nav-links a:hover {
    color: #e94560; /* Light red */
  }
  